.profile__edit-button {
  background-image: url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #000000;
  background-position: center;
  padding: 0;
<<<<<<< HEAD
}

.profile__edit-button:focus {
  outline: none;
  border: 2px solid #FFFFFF;
=======
>>>>>>> e80add0504c52744e3c3fa9745dc78a880799059
}

