.profile__data {
<<<<<<< HEAD
  max-width: 550px;
}

@media screen and (max-width: 1245px) {
  .profile__data {
    max-width: 450px;
  }
}

@media screen and (max-width: 800px) {
  .profile__data {
    margin-right: 0;
    max-width: 400px;
  }
=======
  margin-right: 17px;
>>>>>>> e80add0504c52744e3c3fa9745dc78a880799059
}

@media screen and (max-width: 425px) {
  .profile__data {
    margin-right: 0;
    max-width: 282px;
  }
}
