.elements__like {
  background-image: url(../../../images/element-like.png);
    width: 33px;
    height: 18px;
    border: 0;
    background-color: white;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;
}

.elements__like:focus {
  outline: none;
}

.elements__like:focus-within {
  outline: none;
}

